body, form, li, table, ul { margin: 0; padding: 0; }
body, td { color: #333; font-family: verdana,sans-serif; font-size: 14px; }

h1, h2, h3, h4, h5, h6 { color: #333; font-family: 'trebuchet ms',verdana,sans-serif; font-weight: normal; margin: 0 0 10px; }
blockquote, ol, p, pre, ul { margin-top: 10px; margin-bottom: 10px; }

a { color: #333; text-decoration: none; }
a:hover { text-decoration: underline; }
body { background-image: url( /i/bg.gif ); padding: 16px 0; text-align: center; }
h1 { font-size: 30px; margin: 0 0 5px 1px !important; }
p { line-height: 1.8; }
td { padding: 0; }
ul { list-style-type: none; }

.a-r { text-align: right; }
.link { text-decoration: underline !important; }
.module { background: #dae0e6; border-bottom: 1px solid #fff; margin: 0 0 10px 0; width: 190px; }

.done p { text-decoration: line-through; }
.entry h2 { border-left: 3px solid #b6cbf3; color: #666; font-size: 20px; margin-top: 0 !important; padding: 0 0 0 10px; }
.entry h2 a { color: #666; }
.entry img { border: 1px solid #999; margin: 8px 8px 0 0; }
.entry .foot { border-top: 1px solid #b6cbf3; color: #666; margin: 16px 0 42px 0; padding-top: 3px; text-align: right; }
.module a { color: #666; }
.module div { margin: 10px; }
.module h2 { background-color: #a3b8cc; border-left: 5px solid #36414d; color: #fff; font-size: 14px; font-weight: bold; line-height: 1; margin: 0; padding: 5px; text-transform: uppercase; }
.module h2 a { color: #fff; }
.module li { margin-top: 4px; }
.module ul { margin: 8px 10px 10px; }

#all { background-color: #fff; border: 3px solid #b6cbf3; margin: 16px auto; text-align: left; width: 814px; }
#alpha { width: 600px; }
#beta { margin: 0 !important; padding: 0 !important; width: 210px; }
#grid { margin: 0 2px 2px; }
#head { background-color: #a3b8cc; border: 2px solid #fff; padding: 15px 13px 0; }
#nav-hint { border: 1px solid #b6cbf3; color: #999; padding-left: 5px !important; }
#paging { width: 100%; }
#search { width: 100px; margin-right: 10px; }

#alpha, #beta { vertical-align: top; }
#nav-hint, #paging { margin-bottom: 18px; padding: 5px 5px 5px 0; }

#alpha .inner { padding: 16px 16px 0; }
#beta .inner { background-color: #e6ecf2; padding: 10px; }
#head a { color: #fff; }
#head p { color: #444; font-family: 'trebuchet ms',verdana,sans-serif; font-size: 14px; font-weight: bold; margin: 5px 0 10px 3px; }
#nav-hint a { color: #999; text-decoration: underline !important; }
#paging a { color: #666; }
#paging span { color: #b6cbf3; margin: 0 16px; }
